h1{
    font-family: 'Ceviche One', cursive;
    text-align: center;
    font-size: 120px;
    color: red;
    transition-delay: 1s;
    transition:background 2s;
    position: relative;
    /*font-family: 'Anton', sans-serif;*/
     animation: mymove 5s; 
    
}

@keyframes mymove {
    from {left: -1400px;}
    to {left: 0px;}
}
h1:hover{
    background: #9933ff;

    /*when mouse is over background changes*/

}

#description{
    text-align: left;
   /*font-family: 'Covered By Your Grace', cursive;*/
   font-size: 35px;
   font-family: 'Montserrat', sans-serif;
}
body{
    /*background-image: url("bec.png");*/
}
h2{
    font-size: 45px;
    background: -webkit-linear-gradient(red,black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-family: 'Anton', sans-serif;
}

#bg {
    height: 110%;
            width: 105%;
            position: fixed;
            top: -15px;
            left: -15px;
            z-index: -1;
            background: linear-gradient( 
            /*top*/
            rgba(0, 0, 0, 0.0), 
            /*bottom*/
            rgba(0, 0, 0, 0.0)), 
            /*URL*/
            url(
            'bec.png'
            );
            background-size: auto;
            /* put any filters below */
            /*http://blog.teamtreehouse.com/css-filter-effects*/
            -webkit-filter: blur(6px);
}
.label{
    font-size: 25px;
}
.red{ 
    color:red;
    text-shadow: 2px 2px #000000;
    transition: transform 3s;
}
.red:hover{
    transform: rotate(360deg);
}
#riot{
    width: 600px;
    height: 400px;
    float: right;
    position: relative;
    padding: 25px ;
    margin: 0px 50px 0px 0px ;
}
